@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');
h1, href{
	font-family: "Lexend", sans-serif;
	color: #00ff66;
	text-shadow: 0 0 5px #00ff66;
}
h2, h3, h4, h5, h6, p, div{
	font-family: "Lexend", sans-serif;
	text-shadow: 0 0 10px black;
}
